body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.instructions, .tips{
    background-color:black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color:white;
    height:600px;
    width:600px;
    
}
.Howto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-section{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 80px;
    color:black;
    width: 250px;
    margin-left:260px;
    margin-top: 90px;
    padding-top: 30px;
}
.newmain{
    margin-top: 80px;
}
.division{
    background-color:black;
}
.head{
    background-color:black;
}
.foot{
    background-color:black;
   
}



h1, h2 {
    margin-top: 0;
}

.color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.correct {
    background-color: green;
}

.present {
    background-color: yellow;
}

.incorrect {
    background-color: gray;
}

.form-section {
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
